# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
.poetry/

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Log files
*.log

# Personal settings
*.env